<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @activity_block.activity_id %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @activity_block.rep %>
</p>

<p>
  <strong>Set:</strong>
  <%= @activity_block.set %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @activity_block.weight %>
</p>

<%= link_to 'Edit', edit_activity_block_path(@activity_block) %> |
<%= link_to 'Back', activity_blocks_path %>
