<div class="container" data-controller="loader" data-loader-show-value="/admin/workouts/<%= @workout.id %>/workout_activities/" data-loader-form-value="/admin/workouts/<%= @workout.id %>/workout_activities/new">
  <div class="row">
    <div class="col-12">
      <% if @workout.activation_needed? %>
        <div class="alert alert-warning">
          This workout is inactive and can't be added to plans <%= button_to("Activate", admin_workout_activations_path(@workout), method: :create, class: "btn btn-success") %>
          
        </div>
      <% elsif !@workout.activatable? %>
        <div class="alert alert-warning">
          This workout needs some exercises before it can be activated.
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1><%= @workout.title %></h1>
    </div>
  </div>
  <div class="row">

    <div class="col">
      <i class="fal fa-stopwatch mx-1"></i><span class="ps-1 pe-2"><%= @workout.duration_label %></span>
      |
      <i class="fal fa-mountain mx-1"></i><span class="ps-1 pe-2"><%= @workout.difficulty.titleize %></span>
      |
      <span class="badge bg-<%= if @workout.status == "active" then "success" else "danger" end %>"><%= @workout.status.titleize %></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Description</h4>
      <%= @workout.description %>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between align-content-center">
          <div class='pt-1'>Exercises</div>
          <%= link_to("#", class: "btn btn-sm", data: { action: "loader#fetch", "loader-target": "selection", record: 0 }) do %>
            <i class="fal fa-plus"></i>
          <% end %>
        </div>
        <ul class="list-group list-group-flush" data-controller="list-active-item" data-list-active-item-active-class="active">
          <% if @workout.workout_exercises.size > 0 %>
            <% @workout.workout_exercises.each_with_index do |workout_exercise, i|  %>
              <% if i == 0 %>
                <a href="#" class="list-group-item active" data-action="list-active-item#activate loader#fetch" data-list-active-item-target="link" data-loader-target="selection" data-record="<%= workout_exercise.id %>"><%= workout_exercise.exercise.name %></a>
              <% else %>
                <a href="#" class="list-group-item" data-action="list-active-item#activate loader#fetch" data-list-active-item-target="link" data-loader-target="selection" data-record="<%= workout_exercise.id %>"><%= workout_exercise.exercise.name %></a>
              <% end %>
            <% end %>
          <% else %>
            <div class="list-group-item">Please add an exercise</div>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="col-8">
      <div id="activity-container" data-loader-target="container">
        <% if @workout.workout_exercises.size == 0 %>
          <%= render partial: "admin/workout_exercises/form", locals: { workout: @workout, workout_exercise: WorkoutExercise.new } %>
        <% else %>
          <%= render partial: 'admin/workout_exercises/workout_exercise', locals: { workout_exercise: @workout.workout_exercises.first }  %>
        <% end %>
      </div>
    </div>
  </div>
</div>





