<%= form_with(model: [:admin, activity]) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :simple_desc %>
    <%= form.text_field :simple_desc %>
  </div>

  <div class="field">
    <%= form.label :detail_desc %>
    <%= form.text_field :detail_desc %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.select(:location, Activity.locations.keys.map { |location| [location.titleize, location]}) %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category, Activity.categories.keys.map { |category| [category.titleize, category]}) %>
  </div>

  <div class="field">
    <%= form.label :set_label %>
    <%= form.select(:set_label, Activity.set_labels.keys.map { |label| [label.titleize, label]}) %>
  </div>

  <div class="field">
    <%= form.label :has_weight %>
    <%= form.check_box :has_weight %>
  </div>

  <div class="field">
    <%= form.label :machine_based %>
    <%= form.check_box :machine_based %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
