<%= render partial: "shared/breadcrumbs" %>
<div class="container">
  <div class="row">
    <ul class="list-group list-group-horizontal my-3">
      <div class="list-group-item"><%= link_to 'Edit', edit_admin_activity_path(@activity), class: "link-secondary" %></div>
      <div class="list-group-item"><%= link_to 'Back', admin_activities_path, class: "link-secondary" %></div>
    </ul>
  </div>
  <div class="row">
    <h1>Activity: <%= @activity.name %></h1>
    <div class="row">
      <div class="col">
        <h3>Detail Description</h3>
        <p><%= @activity.detail_desc %></p>
      </div>
      <div class="col">
        <h3>Attributes</h3>
        <ul class="list-group">
          <li class="list-group-item">Location: <%= @activity.location %></li>
          <li class="list-group-item">Category: <%= @activity.category %></li>
          <li class="list-group-item">Set Label: <%= @activity.set_label %></li>
          <li class="list-group-item">Has Weight: <%= @activity.has_weight %></li>
          <li class="list-group-item">Machine based: <%= @activity.machine_based %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Variations</h3>
    <div class="col">
        <table class="table">
          <thead>
            <%- if @activity.has_weight %><th>Weight</th><% end %>
            <th>Set</th>
            <th>Reps</th>
            <th>Difficulty</th>
            <th colspan='2'>actions</th>
          </thead>
          <tbody id="variations">
            <%= render @activity.variations %>
          </tbody>
        </table>
        <% if !@activity.variations.any? %>  
          <div class="alert alert-info" role="alert">
            No Variations found!
          </div>
        <% end %>
    </div>
    <div class="col">
      <%= turbo_frame_tag "new_variation", src: new_admin_activity_variation_path(@activity), target: "_top" %>
    </div>
  </div>
</div>



