<div class="container">
  <div class="row">
    <ul class="list-group list-group-horizontal my-3">
      <div class="list-group-item"><%= link_to 'Edit', edit_admin_activity_path(@activity), class: "link-secondary" %></div>
      <div class="list-group-item"><%= link_to 'Back', admin_activities_path, class: "link-secondary" %></div>
    </ul>
  </div>
  <div class="row">
    <h1>Activity: <%= @activity.name %></h1>
    <section>
      <p><strong>Simple Description</strong><br><%= @activity.simple_desc%></p>
      <p><strong>Detail Description</strong><br><%= @activity.detail_desc %></p>
    </section>
    <section>
        <strong>Location:</strong>
        <%= @activity.location %>

        <strong>Category:</strong>
        <%= @activity.category %>

        <strong>Set label:</strong>
        <%= @activity.set_label %>

        <strong>Has weight:</strong>
        <%= @activity.has_weight %>

        <strong>Machine based:</strong>
        <%= @activity.machine_based %>
    </section>
  </div>
  <div class="row">
    <h2>Variations</h2>
    <div class="col">
        <table class="table">
          <thead>
            <%- if @activity.has_weight %><th>Weight</th><% end %>
            <th>Set</th>
            <th>Reps</th>
            <th>Difficulty</th>
            <th colspan='2'>actions</th>
          </thead>
          <tbody id="variations">
            <%= render @activity.variations %>
          </tbody>
        </table>  
    </div>
    <div class="col">
      <%= turbo_frame_tag "new_variation", src: new_admin_activity_variation_path(@activity), target: "_top" %>
    </div>
    <%= link_to 'add variation', new_admin_activity_variation_path(@activity) %>



  </div>
</div>



