<p id="notice"><%= notice %></p>

<h1>Activity Variations</h1>

<table>
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Weight</th>
      <th>Set</th>
      <th>Rep</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_variations.each do |activity_variation| %>
      <tr>
        <td><%= activity_variation.difficulty %></td>
        <td><%= activity_variation.weight %></td>
        <td><%= activity_variation.set %></td>
        <td><%= activity_variation.rep %></td>
        <td><%= activity_variation.activity_id %></td>
        <td><%= link_to 'Show', activity_variation %></td>
        <td><%= link_to 'Edit', edit_activity_variation_path(activity_variation) %></td>
        <td><%= link_to 'Destroy', activity_variation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity Variation', new_activity_variation_path %>
