<p id="notice"><%= notice %></p>

<p>
  <strong>Difficulty:</strong>
  <%= @activity_variation.difficulty %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @activity_variation.weight %>
</p>

<p>
  <strong>Set:</strong>
  <%= @activity_variation.set %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @activity_variation.rep %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @activity_variation.activity_id %>
</p>

<%= link_to 'Edit', edit_activity_variation_path(@activity_variation) %> |
<%= link_to 'Back', activity_variations_path %>
