<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Machine based</th>
      <th>Has weight</th>
      <th>Weight</th>
      <th>Rep</th>
      <th>Set</th>
      <th>Set type</th>
      <th>Simple desc</th>
      <th>Detail desc</th>
      <th>Location</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.machine_based %></td>
        <td><%= activity.has_weight %></td>
        <td><%= activity.weight %></td>
        <td><%= activity.rep %></td>
        <td><%= activity.set %></td>
        <td><%= activity.set_type %></td>
        <td><%= activity.simple_desc %></td>
        <td><%= activity.detail_desc %></td>
        <td><%= activity.location %></td>
        <td><%= activity.category %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
