<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Simple desc:</strong>
  <%= @activity.simple_desc %>
</p>

<p>
  <strong>Detail desc:</strong>
  <%= @activity.detail_desc %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activity.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Set label:</strong>
  <%= @activity.set_label %>
</p>

<p>
  <strong>Has weight:</strong>
  <%= @activity.has_weight %>
</p>

<p>
  <strong>Machine based:</strong>
  <%= @activity.machine_based %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
