<div class="col-4">
  <div class="card">
    <div class="card-body">   
      <div class="card-title">
        <h4><%= machine.name %></h4>
        <hr>
      </div>
      <div class="card-text">
        <p><%= machine.notes.present? ? machine.notes : "No notes provided" %></p>
        <%= link_to "Edit", edit_admin_machine_path(machine), class: "btn btn-primary" %>
        <%= link_to "Delete", admin_machine_path(machine), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      </div>
    </div>   
    <div class="card-footer">
      Related Activities: <%= machine.activities.size %>
    </div>
  </div>
</div>