<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Jessflexapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-top: 56px; min-height: 100vh;">
    <%= render partial: "shared/header", locals: { admin: true } %>
    <div class="container-fluid" style="min-height: 100vh">
      <div class="row" style="min-height: 100vh;">
        <div class="col bg-light text-center border-end" style="background-color: red; min-width: 200px; max-width: 200px; min-height: 100%;">
          <%= render partial: "shared/admin_panel" %>
        </div>
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>